<html>
        <% include partials/header.ejs %>
<body>
    
<div class="container annonce d-flex justify-content-center">
    <div class= "sousContainer">

    <% for(var i=0; i < ads.length; i++){ %>
    <a href="http://localhost:3000/annonce/<%=ads[i]._id%>">
        <div class="row d-flex fiche">
            <div class="photo">
                <img class="photoImg" src="/uploads/<%= ads[i].photo || "default.png" %>" alt="photo">
            </div>
            <div>
                <h6 class="title"><%=ads[i].title%></h6>
                <h6 class="city"><%=ads[i].city%></h6>
                <h6 class="price"><%=ads[i].price%> €</h6>
            </div>
        </div>
    </a> 
    <%}%>
    <ul class="d-flex pagination justify-content-around mt-3">
        <% for(var i= 1; i < count; i++){ %>
            <a href="/?page=<%= i %>"><li><%= i %></li></a>
        <% }%>
    </ul>
    </div>
</div>




</body>
</html>